<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.member.mapper.UmsMemberLoginLogMapper">
  <resultMap id="BaseResultMap" type="com.mall.member.model.UmsMemberLoginLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="login_type" jdbcType="INTEGER" property="loginType" />
    <result column="province" jdbcType="VARCHAR" property="province" />
  </resultMap>
  <sql id="Base_Column_List">
    id, member_id, create_time, ip, city, login_type, province
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_member_login_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_member_login_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.member.model.UmsMemberLoginLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_login_log (member_id, create_time, ip, 
      city, login_type, province
      )
    values (#{memberId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{city,jdbcType=VARCHAR}, #{loginType,jdbcType=INTEGER}, #{province,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.member.model.UmsMemberLoginLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_login_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        member_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="loginType != null">
        login_type,
      </if>
      <if test="province != null">
        province,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="loginType != null">
        #{loginType,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.member.model.UmsMemberLoginLog">
    update ums_member_login_log
    <set>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="loginType != null">
        login_type = #{loginType,jdbcType=INTEGER},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.member.model.UmsMemberLoginLog">
    update ums_member_login_log
    set member_id = #{memberId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      login_type = #{loginType,jdbcType=INTEGER},
      province = #{province,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.member.model.UmsMemberLoginLog">
    SELECT <include refid="Base_Column_List"/> FROM ums_member_login_log
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="memberId != null">AND member_id = #{memberId}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="ip != null">AND ip = #{ip}</if>
      <if test="city != null">AND city = #{city}</if>
      <if test="loginType != null">AND login_type = #{loginType}</if>
      <if test="province != null">AND province = #{province}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.member.model.UmsMemberLoginLog">
    DELETE FROM ums_member_login_log
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="memberId != null">AND member_id = #{memberId}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="ip != null">AND ip = #{ip}</if>
      <if test="city != null">AND city = #{city}</if>
      <if test="loginType != null">AND login_type = #{loginType}</if>
      <if test="province != null">AND province = #{province}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update ums_member_login_log
    <set>
      <if test="record.memberId != null">member_id = #{record.memberId},</if>
      <if test="record.createTime != null">create_time = #{record.createTime},</if>
      <if test="record.ip != null">ip = #{record.ip},</if>
      <if test="record.city != null">city = #{record.city},</if>
      <if test="record.loginType != null">login_type = #{record.loginType},</if>
      <if test="record.province != null">province = #{record.province},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.memberId != null">AND member_id = #{condition.memberId}</if>
      <if test="condition.createTime != null">AND create_time = #{condition.createTime}</if>
      <if test="condition.ip != null">AND ip = #{condition.ip}</if>
      <if test="condition.city != null">AND city = #{condition.city}</if>
      <if test="condition.loginType != null">AND login_type = #{condition.loginType}</if>
      <if test="condition.province != null">AND province = #{condition.province}</if>
    </where>
  </update>

</mapper>