<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.member.mapper.UmsMemberLevelMapper">
  <resultMap id="BaseResultMap" type="com.mall.member.model.UmsMemberLevel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="growth_point" jdbcType="INTEGER" property="growthPoint" />
    <result column="default_status" jdbcType="INTEGER" property="defaultStatus" />
    <result column="free_freight_point" jdbcType="DECIMAL" property="freeFreightPoint" />
    <result column="comment_growth_point" jdbcType="INTEGER" property="commentGrowthPoint" />
    <result column="priviledge_free_freight" jdbcType="INTEGER" property="priviledgeFreeFreight" />
    <result column="priviledge_sign_in" jdbcType="INTEGER" property="priviledgeSignIn" />
    <result column="priviledge_comment" jdbcType="INTEGER" property="priviledgeComment" />
    <result column="priviledge_promotion" jdbcType="INTEGER" property="priviledgePromotion" />
    <result column="priviledge_member_price" jdbcType="INTEGER" property="priviledgeMemberPrice" />
    <result column="priviledge_birthday" jdbcType="INTEGER" property="priviledgeBirthday" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, growth_point, default_status, free_freight_point, comment_growth_point, 
    priviledge_free_freight, priviledge_sign_in, priviledge_comment, priviledge_promotion, 
    priviledge_member_price, priviledge_birthday, note
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_member_level
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_member_level
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.member.model.UmsMemberLevel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_level (name, growth_point, default_status, 
      free_freight_point, comment_growth_point, priviledge_free_freight, 
      priviledge_sign_in, priviledge_comment, priviledge_promotion, 
      priviledge_member_price, priviledge_birthday, 
      note)
    values (#{name,jdbcType=VARCHAR}, #{growthPoint,jdbcType=INTEGER}, #{defaultStatus,jdbcType=INTEGER}, 
      #{freeFreightPoint,jdbcType=DECIMAL}, #{commentGrowthPoint,jdbcType=INTEGER}, #{priviledgeFreeFreight,jdbcType=INTEGER}, 
      #{priviledgeSignIn,jdbcType=INTEGER}, #{priviledgeComment,jdbcType=INTEGER}, #{priviledgePromotion,jdbcType=INTEGER}, 
      #{priviledgeMemberPrice,jdbcType=INTEGER}, #{priviledgeBirthday,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.member.model.UmsMemberLevel">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_member_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="growthPoint != null">
        growth_point,
      </if>
      <if test="defaultStatus != null">
        default_status,
      </if>
      <if test="freeFreightPoint != null">
        free_freight_point,
      </if>
      <if test="commentGrowthPoint != null">
        comment_growth_point,
      </if>
      <if test="priviledgeFreeFreight != null">
        priviledge_free_freight,
      </if>
      <if test="priviledgeSignIn != null">
        priviledge_sign_in,
      </if>
      <if test="priviledgeComment != null">
        priviledge_comment,
      </if>
      <if test="priviledgePromotion != null">
        priviledge_promotion,
      </if>
      <if test="priviledgeMemberPrice != null">
        priviledge_member_price,
      </if>
      <if test="priviledgeBirthday != null">
        priviledge_birthday,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="growthPoint != null">
        #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="defaultStatus != null">
        #{defaultStatus,jdbcType=INTEGER},
      </if>
      <if test="freeFreightPoint != null">
        #{freeFreightPoint,jdbcType=DECIMAL},
      </if>
      <if test="commentGrowthPoint != null">
        #{commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="priviledgeFreeFreight != null">
        #{priviledgeFreeFreight,jdbcType=INTEGER},
      </if>
      <if test="priviledgeSignIn != null">
        #{priviledgeSignIn,jdbcType=INTEGER},
      </if>
      <if test="priviledgeComment != null">
        #{priviledgeComment,jdbcType=INTEGER},
      </if>
      <if test="priviledgePromotion != null">
        #{priviledgePromotion,jdbcType=INTEGER},
      </if>
      <if test="priviledgeMemberPrice != null">
        #{priviledgeMemberPrice,jdbcType=INTEGER},
      </if>
      <if test="priviledgeBirthday != null">
        #{priviledgeBirthday,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.member.model.UmsMemberLevel">
    update ums_member_level
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="growthPoint != null">
        growth_point = #{growthPoint,jdbcType=INTEGER},
      </if>
      <if test="defaultStatus != null">
        default_status = #{defaultStatus,jdbcType=INTEGER},
      </if>
      <if test="freeFreightPoint != null">
        free_freight_point = #{freeFreightPoint,jdbcType=DECIMAL},
      </if>
      <if test="commentGrowthPoint != null">
        comment_growth_point = #{commentGrowthPoint,jdbcType=INTEGER},
      </if>
      <if test="priviledgeFreeFreight != null">
        priviledge_free_freight = #{priviledgeFreeFreight,jdbcType=INTEGER},
      </if>
      <if test="priviledgeSignIn != null">
        priviledge_sign_in = #{priviledgeSignIn,jdbcType=INTEGER},
      </if>
      <if test="priviledgeComment != null">
        priviledge_comment = #{priviledgeComment,jdbcType=INTEGER},
      </if>
      <if test="priviledgePromotion != null">
        priviledge_promotion = #{priviledgePromotion,jdbcType=INTEGER},
      </if>
      <if test="priviledgeMemberPrice != null">
        priviledge_member_price = #{priviledgeMemberPrice,jdbcType=INTEGER},
      </if>
      <if test="priviledgeBirthday != null">
        priviledge_birthday = #{priviledgeBirthday,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.member.model.UmsMemberLevel">
    update ums_member_level
    set name = #{name,jdbcType=VARCHAR},
      growth_point = #{growthPoint,jdbcType=INTEGER},
      default_status = #{defaultStatus,jdbcType=INTEGER},
      free_freight_point = #{freeFreightPoint,jdbcType=DECIMAL},
      comment_growth_point = #{commentGrowthPoint,jdbcType=INTEGER},
      priviledge_free_freight = #{priviledgeFreeFreight,jdbcType=INTEGER},
      priviledge_sign_in = #{priviledgeSignIn,jdbcType=INTEGER},
      priviledge_comment = #{priviledgeComment,jdbcType=INTEGER},
      priviledge_promotion = #{priviledgePromotion,jdbcType=INTEGER},
      priviledge_member_price = #{priviledgeMemberPrice,jdbcType=INTEGER},
      priviledge_birthday = #{priviledgeBirthday,jdbcType=INTEGER},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.member.model.UmsMemberLevel">
    SELECT <include refid="Base_Column_List"/> FROM ums_member_level
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="growthPoint != null">AND growth_point = #{growthPoint}</if>
      <if test="defaultStatus != null">AND default_status = #{defaultStatus}</if>
      <if test="freeFreightPoint != null">AND free_freight_point = #{freeFreightPoint}</if>
      <if test="commentGrowthPoint != null">AND comment_growth_point = #{commentGrowthPoint}</if>
      <if test="priviledgeFreeFreight != null">AND priviledge_free_freight = #{priviledgeFreeFreight}</if>
      <if test="priviledgeSignIn != null">AND priviledge_sign_in = #{priviledgeSignIn}</if>
      <if test="priviledgeComment != null">AND priviledge_comment = #{priviledgeComment}</if>
      <if test="priviledgePromotion != null">AND priviledge_promotion = #{priviledgePromotion}</if>
      <if test="priviledgeMemberPrice != null">AND priviledge_member_price = #{priviledgeMemberPrice}</if>
      <if test="priviledgeBirthday != null">AND priviledge_birthday = #{priviledgeBirthday}</if>
      <if test="note != null">AND note = #{note}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.member.model.UmsMemberLevel">
    DELETE FROM ums_member_level
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="growthPoint != null">AND growth_point = #{growthPoint}</if>
      <if test="defaultStatus != null">AND default_status = #{defaultStatus}</if>
      <if test="freeFreightPoint != null">AND free_freight_point = #{freeFreightPoint}</if>
      <if test="commentGrowthPoint != null">AND comment_growth_point = #{commentGrowthPoint}</if>
      <if test="priviledgeFreeFreight != null">AND priviledge_free_freight = #{priviledgeFreeFreight}</if>
      <if test="priviledgeSignIn != null">AND priviledge_sign_in = #{priviledgeSignIn}</if>
      <if test="priviledgeComment != null">AND priviledge_comment = #{priviledgeComment}</if>
      <if test="priviledgePromotion != null">AND priviledge_promotion = #{priviledgePromotion}</if>
      <if test="priviledgeMemberPrice != null">AND priviledge_member_price = #{priviledgeMemberPrice}</if>
      <if test="priviledgeBirthday != null">AND priviledge_birthday = #{priviledgeBirthday}</if>
      <if test="note != null">AND note = #{note}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update ums_member_level
    <set>
      <if test="record.name != null">name = #{record.name},</if>
      <if test="record.growthPoint != null">growth_point = #{record.growthPoint},</if>
      <if test="record.defaultStatus != null">default_status = #{record.defaultStatus},</if>
      <if test="record.freeFreightPoint != null">free_freight_point = #{record.freeFreightPoint},</if>
      <if test="record.commentGrowthPoint != null">comment_growth_point = #{record.commentGrowthPoint},</if>
      <if test="record.priviledgeFreeFreight != null">priviledge_free_freight = #{record.priviledgeFreeFreight},</if>
      <if test="record.priviledgeSignIn != null">priviledge_sign_in = #{record.priviledgeSignIn},</if>
      <if test="record.priviledgeComment != null">priviledge_comment = #{record.priviledgeComment},</if>
      <if test="record.priviledgePromotion != null">priviledge_promotion = #{record.priviledgePromotion},</if>
      <if test="record.priviledgeMemberPrice != null">priviledge_member_price = #{record.priviledgeMemberPrice},</if>
      <if test="record.priviledgeBirthday != null">priviledge_birthday = #{record.priviledgeBirthday},</if>
      <if test="record.note != null">note = #{record.note},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.name != null">AND name = #{condition.name}</if>
      <if test="condition.growthPoint != null">AND growth_point = #{condition.growthPoint}</if>
      <if test="condition.defaultStatus != null">AND default_status = #{condition.defaultStatus}</if>
      <if test="condition.freeFreightPoint != null">AND free_freight_point = #{condition.freeFreightPoint}</if>
      <if test="condition.commentGrowthPoint != null">AND comment_growth_point = #{condition.commentGrowthPoint}</if>
      <if test="condition.priviledgeFreeFreight != null">AND priviledge_free_freight = #{condition.priviledgeFreeFreight}</if>
      <if test="condition.priviledgeSignIn != null">AND priviledge_sign_in = #{condition.priviledgeSignIn}</if>
      <if test="condition.priviledgeComment != null">AND priviledge_comment = #{condition.priviledgeComment}</if>
      <if test="condition.priviledgePromotion != null">AND priviledge_promotion = #{condition.priviledgePromotion}</if>
      <if test="condition.priviledgeMemberPrice != null">AND priviledge_member_price = #{condition.priviledgeMemberPrice}</if>
      <if test="condition.priviledgeBirthday != null">AND priviledge_birthday = #{condition.priviledgeBirthday}</if>
      <if test="condition.note != null">AND note = #{condition.note}</if>
    </where>
  </update>

</mapper>