<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsAlbumPicMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsAlbumPic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="album_id" jdbcType="BIGINT" property="albumId" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
  </resultMap>
  <sql id="Base_Column_List">
    id, album_id, pic
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_album_pic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_album_pic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsAlbumPic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_album_pic (album_id, pic)
    values (#{albumId,jdbcType=BIGINT}, #{pic,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsAlbumPic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_album_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        album_id,
      </if>
      <if test="pic != null">
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        #{albumId,jdbcType=BIGINT},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsAlbumPic">
    update pms_album_pic
    <set>
      <if test="albumId != null">
        album_id = #{albumId,jdbcType=BIGINT},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsAlbumPic">
    update pms_album_pic
    set album_id = #{albumId,jdbcType=BIGINT},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsAlbumPic">
    SELECT <include refid="Base_Column_List"/> FROM pms_album_pic
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="albumId != null">AND album_id = #{albumId}</if>
      <if test="pic != null">AND pic = #{pic}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsAlbumPic">
    DELETE FROM pms_album_pic
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="albumId != null">AND album_id = #{albumId}</if>
      <if test="pic != null">AND pic = #{pic}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_album_pic
    <set>
      <if test="record.albumId != null">album_id = #{record.albumId},</if>
      <if test="record.pic != null">pic = #{record.pic},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.albumId != null">AND album_id = #{condition.albumId}</if>
      <if test="condition.pic != null">AND pic = #{condition.pic}</if>
    </where>
  </update>

</mapper>