<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsBrandMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsBrand">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="first_letter" jdbcType="VARCHAR" property="firstLetter" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="factory_status" jdbcType="INTEGER" property="factoryStatus" />
    <result column="show_status" jdbcType="INTEGER" property="showStatus" />
    <result column="product_count" jdbcType="INTEGER" property="productCount" />
    <result column="product_comment_count" jdbcType="INTEGER" property="productCommentCount" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="big_pic" jdbcType="VARCHAR" property="bigPic" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mall.product.model.PmsBrand">
    <result column="brand_story" jdbcType="LONGVARCHAR" property="brandStory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, first_letter, sort, factory_status, show_status, product_count, product_comment_count, 
    logo, big_pic
  </sql>
  <sql id="Blob_Column_List">
    brand_story
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pms_brand
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_brand
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsBrand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_brand (name, first_letter, sort, 
      factory_status, show_status, product_count, 
      product_comment_count, logo, big_pic, 
      brand_story)
    values (#{name,jdbcType=VARCHAR}, #{firstLetter,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, 
      #{factoryStatus,jdbcType=INTEGER}, #{showStatus,jdbcType=INTEGER}, #{productCount,jdbcType=INTEGER}, 
      #{productCommentCount,jdbcType=INTEGER}, #{logo,jdbcType=VARCHAR}, #{bigPic,jdbcType=VARCHAR}, 
      #{brandStory,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsBrand">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_brand
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="firstLetter != null">
        first_letter,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="factoryStatus != null">
        factory_status,
      </if>
      <if test="showStatus != null">
        show_status,
      </if>
      <if test="productCount != null">
        product_count,
      </if>
      <if test="productCommentCount != null">
        product_comment_count,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="bigPic != null">
        big_pic,
      </if>
      <if test="brandStory != null">
        brand_story,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        #{factoryStatus,jdbcType=INTEGER},
      </if>
      <if test="showStatus != null">
        #{showStatus,jdbcType=INTEGER},
      </if>
      <if test="productCount != null">
        #{productCount,jdbcType=INTEGER},
      </if>
      <if test="productCommentCount != null">
        #{productCommentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        #{brandStory,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsBrand">
    update pms_brand
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="firstLetter != null">
        first_letter = #{firstLetter,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="factoryStatus != null">
        factory_status = #{factoryStatus,jdbcType=INTEGER},
      </if>
      <if test="showStatus != null">
        show_status = #{showStatus,jdbcType=INTEGER},
      </if>
      <if test="productCount != null">
        product_count = #{productCount,jdbcType=INTEGER},
      </if>
      <if test="productCommentCount != null">
        product_comment_count = #{productCommentCount,jdbcType=INTEGER},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="bigPic != null">
        big_pic = #{bigPic,jdbcType=VARCHAR},
      </if>
      <if test="brandStory != null">
        brand_story = #{brandStory,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mall.product.model.PmsBrand">
    update pms_brand
    set name = #{name,jdbcType=VARCHAR},
      first_letter = #{firstLetter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factory_status = #{factoryStatus,jdbcType=INTEGER},
      show_status = #{showStatus,jdbcType=INTEGER},
      product_count = #{productCount,jdbcType=INTEGER},
      product_comment_count = #{productCommentCount,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      big_pic = #{bigPic,jdbcType=VARCHAR},
      brand_story = #{brandStory,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsBrand">
    update pms_brand
    set name = #{name,jdbcType=VARCHAR},
      first_letter = #{firstLetter,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      factory_status = #{factoryStatus,jdbcType=INTEGER},
      show_status = #{showStatus,jdbcType=INTEGER},
      product_count = #{productCount,jdbcType=INTEGER},
      product_comment_count = #{productCommentCount,jdbcType=INTEGER},
      logo = #{logo,jdbcType=VARCHAR},
      big_pic = #{bigPic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsBrand">
    SELECT <include refid="Base_Column_List"/> FROM pms_brand
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="firstLetter != null">AND first_letter = #{firstLetter}</if>
      <if test="sort != null">AND sort = #{sort}</if>
      <if test="factoryStatus != null">AND factory_status = #{factoryStatus}</if>
      <if test="showStatus != null">AND show_status = #{showStatus}</if>
      <if test="productCount != null">AND product_count = #{productCount}</if>
      <if test="productCommentCount != null">AND product_comment_count = #{productCommentCount}</if>
      <if test="logo != null">AND logo = #{logo}</if>
      <if test="bigPic != null">AND big_pic = #{bigPic}</if>
      <if test="brandStory != null">AND brand_story = #{brandStory}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsBrand">
    DELETE FROM pms_brand
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="firstLetter != null">AND first_letter = #{firstLetter}</if>
      <if test="sort != null">AND sort = #{sort}</if>
      <if test="factoryStatus != null">AND factory_status = #{factoryStatus}</if>
      <if test="showStatus != null">AND show_status = #{showStatus}</if>
      <if test="productCount != null">AND product_count = #{productCount}</if>
      <if test="productCommentCount != null">AND product_comment_count = #{productCommentCount}</if>
      <if test="logo != null">AND logo = #{logo}</if>
      <if test="bigPic != null">AND big_pic = #{bigPic}</if>
      <if test="brandStory != null">AND brand_story = #{brandStory}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_brand
    <set>
      <if test="record.name != null">name = #{record.name},</if>
      <if test="record.firstLetter != null">first_letter = #{record.firstLetter},</if>
      <if test="record.sort != null">sort = #{record.sort},</if>
      <if test="record.factoryStatus != null">factory_status = #{record.factoryStatus},</if>
      <if test="record.showStatus != null">show_status = #{record.showStatus},</if>
      <if test="record.productCount != null">product_count = #{record.productCount},</if>
      <if test="record.productCommentCount != null">product_comment_count = #{record.productCommentCount},</if>
      <if test="record.logo != null">logo = #{record.logo},</if>
      <if test="record.bigPic != null">big_pic = #{record.bigPic},</if>
      <if test="record.brandStory != null">brand_story = #{record.brandStory},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.name != null">AND name = #{condition.name}</if>
      <if test="condition.firstLetter != null">AND first_letter = #{condition.firstLetter}</if>
      <if test="condition.sort != null">AND sort = #{condition.sort}</if>
      <if test="condition.factoryStatus != null">AND factory_status = #{condition.factoryStatus}</if>
      <if test="condition.showStatus != null">AND show_status = #{condition.showStatus}</if>
      <if test="condition.productCount != null">AND product_count = #{condition.productCount}</if>
      <if test="condition.productCommentCount != null">AND product_comment_count = #{condition.productCommentCount}</if>
      <if test="condition.logo != null">AND logo = #{condition.logo}</if>
      <if test="condition.bigPic != null">AND big_pic = #{condition.bigPic}</if>
      <if test="condition.brandStory != null">AND brand_story = #{condition.brandStory}</if>
    </where>
  </update>

</mapper>