<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsCommentReplayMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsCommentReplay">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="comment_id" jdbcType="BIGINT" property="commentId" />
    <result column="member_nick_name" jdbcType="VARCHAR" property="memberNickName" />
    <result column="member_icon" jdbcType="VARCHAR" property="memberIcon" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, comment_id, member_nick_name, member_icon, content, create_time, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_comment_replay
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_comment_replay
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsCommentReplay">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_comment_replay (comment_id, member_nick_name, member_icon, 
      content, create_time, type
      )
    values (#{commentId,jdbcType=BIGINT}, #{memberNickName,jdbcType=VARCHAR}, #{memberIcon,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsCommentReplay">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_comment_replay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="memberNickName != null">
        member_nick_name,
      </if>
      <if test="memberIcon != null">
        member_icon,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commentId != null">
        #{commentId,jdbcType=BIGINT},
      </if>
      <if test="memberNickName != null">
        #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="memberIcon != null">
        #{memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsCommentReplay">
    update pms_comment_replay
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=BIGINT},
      </if>
      <if test="memberNickName != null">
        member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      </if>
      <if test="memberIcon != null">
        member_icon = #{memberIcon,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsCommentReplay">
    update pms_comment_replay
    set comment_id = #{commentId,jdbcType=BIGINT},
      member_nick_name = #{memberNickName,jdbcType=VARCHAR},
      member_icon = #{memberIcon,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsCommentReplay">
    SELECT <include refid="Base_Column_List"/> FROM pms_comment_replay
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="commentId != null">AND comment_id = #{commentId}</if>
      <if test="memberNickName != null">AND member_nick_name = #{memberNickName}</if>
      <if test="memberIcon != null">AND member_icon = #{memberIcon}</if>
      <if test="content != null">AND content = #{content}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="type != null">AND type = #{type}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsCommentReplay">
    DELETE FROM pms_comment_replay
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="commentId != null">AND comment_id = #{commentId}</if>
      <if test="memberNickName != null">AND member_nick_name = #{memberNickName}</if>
      <if test="memberIcon != null">AND member_icon = #{memberIcon}</if>
      <if test="content != null">AND content = #{content}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="type != null">AND type = #{type}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_comment_replay
    <set>
      <if test="record.commentId != null">comment_id = #{record.commentId},</if>
      <if test="record.memberNickName != null">member_nick_name = #{record.memberNickName},</if>
      <if test="record.memberIcon != null">member_icon = #{record.memberIcon},</if>
      <if test="record.content != null">content = #{record.content},</if>
      <if test="record.createTime != null">create_time = #{record.createTime},</if>
      <if test="record.type != null">type = #{record.type},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.commentId != null">AND comment_id = #{condition.commentId}</if>
      <if test="condition.memberNickName != null">AND member_nick_name = #{condition.memberNickName}</if>
      <if test="condition.memberIcon != null">AND member_icon = #{condition.memberIcon}</if>
      <if test="condition.content != null">AND content = #{condition.content}</if>
      <if test="condition.createTime != null">AND create_time = #{condition.createTime}</if>
      <if test="condition.type != null">AND type = #{condition.type}</if>
    </where>
  </update>

</mapper>