<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsMemberPriceMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsMemberPrice">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="member_level_id" jdbcType="BIGINT" property="memberLevelId" />
    <result column="member_price" jdbcType="DECIMAL" property="memberPrice" />
    <result column="member_level_name" jdbcType="VARCHAR" property="memberLevelName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, member_level_id, member_price, member_level_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_member_price
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_member_price
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsMemberPrice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_member_price (product_id, member_level_id, member_price, member_level_name)
    values (#{productId,jdbcType=BIGINT}, #{memberLevelId,jdbcType=BIGINT}, #{memberPrice,jdbcType=DECIMAL}, #{memberLevelName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsMemberPrice">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_member_price
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="memberLevelId != null">
        member_level_id,
      </if>
      <if test="memberPrice != null">
        member_price,
      </if>
      <if test="memberLevelName != null">
        member_level_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="memberLevelId != null">
        #{memberLevelId,jdbcType=BIGINT},
      </if>
      <if test="memberPrice != null">
        #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberLevelName != null">
        #{memberLevelName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsMemberPrice">
    update pms_member_price
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="memberLevelId != null">
        member_level_id = #{memberLevelId,jdbcType=BIGINT},
      </if>
      <if test="memberPrice != null">
        member_price = #{memberPrice,jdbcType=DECIMAL},
      </if>
      <if test="memberLevelName != null">
        member_level_name = #{memberLevelName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsMemberPrice">
    update pms_member_price
    set product_id = #{productId,jdbcType=BIGINT},
      member_level_id = #{memberLevelId,jdbcType=BIGINT},
      member_price = #{memberPrice,jdbcType=DECIMAL},
      member_level_name = #{memberLevelName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--批量新增回写主键支持-->
    <insert id="insertList">
        INSERT INTO pms_member_price (product_id, member_level_id, member_price,member_level_name) VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.productId,jdbcType=BIGINT},
            #{item.memberLevelId,jdbcType=BIGINT},
            #{item.memberPrice,jdbcType=DECIMAL},
            #{item.memberLevelName,jdbcType=VARCHAR})
        </foreach>
    </insert>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsMemberPrice">
    SELECT <include refid="Base_Column_List"/> FROM pms_member_price
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="memberLevelId != null">AND member_level_id = #{memberLevelId}</if>
      <if test="memberPrice != null">AND member_price = #{memberPrice}</if>
      <if test="memberLevelName != null">AND member_level_name = #{memberLevelName}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsMemberPrice">
    DELETE FROM pms_member_price
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="memberLevelId != null">AND member_level_id = #{memberLevelId}</if>
      <if test="memberPrice != null">AND member_price = #{memberPrice}</if>
      <if test="memberLevelName != null">AND member_level_name = #{memberLevelName}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_member_price
    <set>
      <if test="record.productId != null">product_id = #{record.productId},</if>
      <if test="record.memberLevelId != null">member_level_id = #{record.memberLevelId},</if>
      <if test="record.memberPrice != null">member_price = #{record.memberPrice},</if>
      <if test="record.memberLevelName != null">member_level_name = #{record.memberLevelName},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.productId != null">AND product_id = #{condition.productId}</if>
      <if test="condition.memberLevelId != null">AND member_level_id = #{condition.memberLevelId}</if>
      <if test="condition.memberPrice != null">AND member_price = #{condition.memberPrice}</if>
      <if test="condition.memberLevelName != null">AND member_level_name = #{condition.memberLevelName}</if>
    </where>
  </update>

</mapper>
