<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsProductAttributeValueMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsProductAttributeValue">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_attribute_id" jdbcType="BIGINT" property="productAttributeId" />
    <result column="value" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_attribute_id, value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_product_attribute_value
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_attribute_value
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsProductAttributeValue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product_attribute_value (product_id, product_attribute_id, value)
    values (#{productId,jdbcType=BIGINT}, #{productAttributeId,jdbcType=BIGINT}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsProductAttributeValue">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product_attribute_value
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productAttributeId != null">
        product_attribute_id,
      </if>
      <if test="value != null">
        value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productAttributeId != null">
        #{productAttributeId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsProductAttributeValue">
    update pms_product_attribute_value
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productAttributeId != null">
        product_attribute_id = #{productAttributeId,jdbcType=BIGINT},
      </if>
      <if test="value != null">
        value = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsProductAttributeValue">
    update pms_product_attribute_value
    set product_id = #{productId,jdbcType=BIGINT},
      product_attribute_id = #{productAttributeId,jdbcType=BIGINT},
      value = #{value,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<insert id="insertList">
        insert into pms_product_attribute_value (product_id,product_attribute_id,value) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId,jdbcType=BIGINT},
            #{item.productAttributeId,jdbcType=BIGINT},
            #{item.value,jdbcType=VARCHAR})
        </foreach>
    </insert>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsProductAttributeValue">
    SELECT <include refid="Base_Column_List"/> FROM pms_product_attribute_value
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="productAttributeId != null">AND product_attribute_id = #{productAttributeId}</if>
      <if test="value != null">AND value = #{value}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsProductAttributeValue">
    DELETE FROM pms_product_attribute_value
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="productAttributeId != null">AND product_attribute_id = #{productAttributeId}</if>
      <if test="value != null">AND value = #{value}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_product_attribute_value
    <set>
      <if test="record.productId != null">product_id = #{record.productId},</if>
      <if test="record.productAttributeId != null">product_attribute_id = #{record.productAttributeId},</if>
      <if test="record.value != null">value = #{record.value},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.productId != null">AND product_id = #{condition.productId}</if>
      <if test="condition.productAttributeId != null">AND product_attribute_id = #{condition.productAttributeId}</if>
      <if test="condition.value != null">AND value = #{condition.value}</if>
    </where>
  </update>

</mapper>
