<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsProductAttributeCategoryMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsProductAttributeCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="attribute_count" jdbcType="INTEGER" property="attributeCount" />
    <result column="param_count" jdbcType="INTEGER" property="paramCount" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, attribute_count, param_count
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_product_attribute_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_attribute_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsProductAttributeCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product_attribute_category (name, attribute_count, param_count)
    values (#{name,jdbcType=VARCHAR}, #{attributeCount,jdbcType=INTEGER}, #{paramCount,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsProductAttributeCategory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product_attribute_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="attributeCount != null">
        attribute_count,
      </if>
      <if test="paramCount != null">
        param_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="attributeCount != null">
        #{attributeCount,jdbcType=INTEGER},
      </if>
      <if test="paramCount != null">
        #{paramCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsProductAttributeCategory">
    update pms_product_attribute_category
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="attributeCount != null">
        attribute_count = #{attributeCount,jdbcType=INTEGER},
      </if>
      <if test="paramCount != null">
        param_count = #{paramCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsProductAttributeCategory">
    update pms_product_attribute_category
    set name = #{name,jdbcType=VARCHAR},
      attribute_count = #{attributeCount,jdbcType=INTEGER},
      param_count = #{paramCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>

<resultMap id="getListWithAttrMap" type="com.mall.product.domain.dto.PmsProductAttributeCategoryItem" extends="com.mall.product.mapper.PmsProductAttributeCategoryMapper.BaseResultMap">
        <collection property="productAttributeList" columnPrefix="attr_" resultMap="com.mall.product.mapper.PmsProductAttributeMapper.BaseResultMap">
        </collection>
    </resultMap>
    <select id="getListWithAttr" resultMap="getListWithAttrMap">
        SELECT
            pac.id,
            pac.name,
            pa.id attr_id,
            pa.name attr_name
        FROM
            pms_product_attribute_category pac
            LEFT JOIN pms_product_attribute pa ON pac.id = pa.product_attribute_category_id
        AND pa.type=1;
    </select>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsProductAttributeCategory">
    SELECT <include refid="Base_Column_List"/> FROM pms_product_attribute_category
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="attributeCount != null">AND attribute_count = #{attributeCount}</if>
      <if test="paramCount != null">AND param_count = #{paramCount}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsProductAttributeCategory">
    DELETE FROM pms_product_attribute_category
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="attributeCount != null">AND attribute_count = #{attributeCount}</if>
      <if test="paramCount != null">AND param_count = #{paramCount}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_product_attribute_category
    <set>
      <if test="record.name != null">name = #{record.name},</if>
      <if test="record.attributeCount != null">attribute_count = #{record.attributeCount},</if>
      <if test="record.paramCount != null">param_count = #{record.paramCount},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.name != null">AND name = #{condition.name}</if>
      <if test="condition.attributeCount != null">AND attribute_count = #{condition.attributeCount}</if>
      <if test="condition.paramCount != null">AND param_count = #{condition.paramCount}</if>
    </where>
  </update>

</mapper>
