<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsProductVertifyRecordMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsProductVertifyRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="vertify_man" jdbcType="VARCHAR" property="vertifyMan" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, create_time, vertify_man, status, detail
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_product_vertify_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_product_vertify_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsProductVertifyRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product_vertify_record (product_id, create_time, vertify_man, status, detail)
    values (#{productId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{vertifyMan,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{detail,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsProductVertifyRecord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_product_vertify_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="vertifyMan != null">
        vertify_man,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="detail != null">
        detail,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vertifyMan != null">
        #{vertifyMan,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsProductVertifyRecord">
    update pms_product_vertify_record
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vertifyMan != null">
        vertify_man = #{vertifyMan,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsProductVertifyRecord">
    update pms_product_vertify_record
    set product_id = #{productId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      vertify_man = #{vertifyMan,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--批量新增回写主键支持-->
    <insert id="insertList">
        insert into pms_product_vertify_record (product_id, create_time, vertify_man,status, detail) values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.productId,jdbcType=BIGINT},
            #{item.createTime,jdbcType=TIMESTAMP},
            #{item.vertifyMan,jdbcType=VARCHAR},
            #{item.status,jdbcType=INTEGER},
            #{item.detail,jdbcType=VARCHAR})
        </foreach>
    </insert>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsProductVertifyRecord">
    SELECT <include refid="Base_Column_List"/> FROM pms_product_vertify_record
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="vertifyMan != null">AND vertify_man = #{vertifyMan}</if>
      <if test="status != null">AND status = #{status}</if>
      <if test="detail != null">AND detail = #{detail}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsProductVertifyRecord">
    DELETE FROM pms_product_vertify_record
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="vertifyMan != null">AND vertify_man = #{vertifyMan}</if>
      <if test="status != null">AND status = #{status}</if>
      <if test="detail != null">AND detail = #{detail}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_product_vertify_record
    <set>
      <if test="record.productId != null">product_id = #{record.productId},</if>
      <if test="record.createTime != null">create_time = #{record.createTime},</if>
      <if test="record.vertifyMan != null">vertify_man = #{record.vertifyMan},</if>
      <if test="record.status != null">status = #{record.status},</if>
      <if test="record.detail != null">detail = #{record.detail},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.productId != null">AND product_id = #{condition.productId}</if>
      <if test="condition.createTime != null">AND create_time = #{condition.createTime}</if>
      <if test="condition.vertifyMan != null">AND vertify_man = #{condition.vertifyMan}</if>
      <if test="condition.status != null">AND status = #{condition.status}</if>
      <if test="condition.detail != null">AND detail = #{condition.detail}</if>
    </where>
  </update>

</mapper>
