<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.product.mapper.PmsSkuStockMapper">
  <resultMap id="BaseResultMap" type="com.mall.product.model.PmsSkuStock">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sku_code" jdbcType="VARCHAR" property="skuCode" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    <result column="pic" jdbcType="VARCHAR" property="pic" />
    <result column="sale" jdbcType="INTEGER" property="sale" />
    <result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    <result column="lock_stock" jdbcType="INTEGER" property="lockStock" />
    <result column="sp_data" jdbcType="VARCHAR" property="spData" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, sku_code, price, stock, low_stock, pic, sale, promotion_price, lock_stock, sp_data
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pms_sku_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pms_sku_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.product.model.PmsSkuStock">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_sku_stock (product_id, sku_code, price, stock, low_stock, pic, sale, promotion_price, lock_stock, sp_data)
    values (#{productId,jdbcType=BIGINT}, #{skuCode,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{stock,jdbcType=INTEGER}, #{lowStock,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR}, #{sale,jdbcType=INTEGER}, #{promotionPrice,jdbcType=DECIMAL}, #{lockStock,jdbcType=INTEGER}, #{spData,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.product.model.PmsSkuStock">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pms_sku_stock
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="skuCode != null">
        sku_code,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="lowStock != null">
        low_stock,
      </if>
      <if test="pic != null">
        pic,
      </if>
      <if test="sale != null">
        sale,
      </if>
      <if test="promotionPrice != null">
        promotion_price,
      </if>
      <if test="lockStock != null">
        lock_stock,
      </if>
      <if test="spData != null">
        sp_data,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        #{sale,jdbcType=INTEGER},
      </if>
      <if test="promotionPrice != null">
        #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="lockStock != null">
        #{lockStock,jdbcType=INTEGER},
      </if>
      <if test="spData != null">
        #{spData,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.product.model.PmsSkuStock">
    update pms_sku_stock
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="skuCode != null">
        sku_code = #{skuCode,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="lowStock != null">
        low_stock = #{lowStock,jdbcType=INTEGER},
      </if>
      <if test="pic != null">
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="sale != null">
        sale = #{sale,jdbcType=INTEGER},
      </if>
      <if test="promotionPrice != null">
        promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      </if>
      <if test="lockStock != null">
        lock_stock = #{lockStock,jdbcType=INTEGER},
      </if>
      <if test="spData != null">
        sp_data = #{spData,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.product.model.PmsSkuStock">
    update pms_sku_stock
    set product_id = #{productId,jdbcType=BIGINT},
      sku_code = #{skuCode,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      stock = #{stock,jdbcType=INTEGER},
      low_stock = #{lowStock,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      sale = #{sale,jdbcType=INTEGER},
      promotion_price = #{promotionPrice,jdbcType=DECIMAL},
      lock_stock = #{lockStock,jdbcType=INTEGER},
      sp_data = #{spData,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<insert id="insertList">
        INSERT INTO pms_sku_stock (product_id, sku_code, price, stock, low_stock, pic, sale, sp_data) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId,jdbcType=BIGINT},
            #{item.skuCode,jdbcType=VARCHAR},
            #{item.price,jdbcType=DECIMAL},
            #{item.stock,jdbcType=INTEGER},
            #{item.lowStock,jdbcType=INTEGER},
            #{item.pic,jdbcType=VARCHAR},
            #{item.sale,jdbcType=INTEGER},
            #{item.spData,jdbcType=VARCHAR})
        </foreach>
    </insert>
    <insert id="replaceList">
        REPLACE INTO pms_sku_stock (id,product_id, sku_code, price, stock, low_stock,pic, sale, sp_data) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=BIGINT},
            #{item.productId,jdbcType=BIGINT},
            #{item.skuCode,jdbcType=VARCHAR},
            #{item.price,jdbcType=DECIMAL},
            #{item.stock,jdbcType=INTEGER},
            #{item.lowStock,jdbcType=INTEGER},
            #{item.pic,jdbcType=VARCHAR},
            #{item.sale,jdbcType=INTEGER},
            #{item.spData,jdbcType=VARCHAR})
        </foreach>
    </insert>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.product.model.PmsSkuStock">
    SELECT <include refid="Base_Column_List"/> FROM pms_sku_stock
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="skuCode != null">AND sku_code = #{skuCode}</if>
      <if test="price != null">AND price = #{price}</if>
      <if test="stock != null">AND stock = #{stock}</if>
      <if test="lowStock != null">AND low_stock = #{lowStock}</if>
      <if test="pic != null">AND pic = #{pic}</if>
      <if test="sale != null">AND sale = #{sale}</if>
      <if test="promotionPrice != null">AND promotion_price = #{promotionPrice}</if>
      <if test="lockStock != null">AND lock_stock = #{lockStock}</if>
      <if test="spData != null">AND sp_data = #{spData}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.product.model.PmsSkuStock">
    DELETE FROM pms_sku_stock
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="skuCode != null">AND sku_code = #{skuCode}</if>
      <if test="price != null">AND price = #{price}</if>
      <if test="stock != null">AND stock = #{stock}</if>
      <if test="lowStock != null">AND low_stock = #{lowStock}</if>
      <if test="pic != null">AND pic = #{pic}</if>
      <if test="sale != null">AND sale = #{sale}</if>
      <if test="promotionPrice != null">AND promotion_price = #{promotionPrice}</if>
      <if test="lockStock != null">AND lock_stock = #{lockStock}</if>
      <if test="spData != null">AND sp_data = #{spData}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update pms_sku_stock
    <set>
      <if test="record.productId != null">product_id = #{record.productId},</if>
      <if test="record.skuCode != null">sku_code = #{record.skuCode},</if>
      <if test="record.price != null">price = #{record.price},</if>
      <if test="record.stock != null">stock = #{record.stock},</if>
      <if test="record.lowStock != null">low_stock = #{record.lowStock},</if>
      <if test="record.pic != null">pic = #{record.pic},</if>
      <if test="record.sale != null">sale = #{record.sale},</if>
      <if test="record.promotionPrice != null">promotion_price = #{record.promotionPrice},</if>
      <if test="record.lockStock != null">lock_stock = #{record.lockStock},</if>
      <if test="record.spData != null">sp_data = #{record.spData},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.productId != null">AND product_id = #{condition.productId}</if>
      <if test="condition.skuCode != null">AND sku_code = #{condition.skuCode}</if>
      <if test="condition.price != null">AND price = #{condition.price}</if>
      <if test="condition.stock != null">AND stock = #{condition.stock}</if>
      <if test="condition.lowStock != null">AND low_stock = #{condition.lowStock}</if>
      <if test="condition.pic != null">AND pic = #{condition.pic}</if>
      <if test="condition.sale != null">AND sale = #{condition.sale}</if>
      <if test="condition.promotionPrice != null">AND promotion_price = #{condition.promotionPrice}</if>
      <if test="condition.lockStock != null">AND lock_stock = #{condition.lockStock}</if>
      <if test="condition.spData != null">AND sp_data = #{condition.spData}</if>
    </where>
  </update>

</mapper>
