<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.cart.mapper.OmsCartItemMapper">
  <resultMap id="BaseResultMap" type="com.mall.cart.model.OmsCartItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_sku_id" jdbcType="BIGINT" property="productSkuId" />
    <result column="member_id" jdbcType="BIGINT" property="memberId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="product_pic" jdbcType="VARCHAR" property="productPic" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_sub_title" jdbcType="VARCHAR" property="productSubTitle" />
    <result column="product_sku_code" jdbcType="VARCHAR" property="productSkuCode" />
    <result column="member_nickname" jdbcType="VARCHAR" property="memberNickname" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    <result column="product_category_id" jdbcType="BIGINT" property="productCategoryId" />
    <result column="product_brand" jdbcType="VARCHAR" property="productBrand" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="product_attr" jdbcType="VARCHAR" property="productAttr" />
  </resultMap>
  <sql id="Base_Column_List">
    id, product_id, product_sku_id, member_id, quantity, price, product_pic, product_name, 
    product_sub_title, product_sku_code, member_nickname, create_date, modify_date, delete_status, 
    product_category_id, product_brand, product_sn, product_attr
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from oms_cart_item
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from oms_cart_item
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.cart.model.OmsCartItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_cart_item (product_id, product_sku_id, member_id, 
      quantity, price, product_pic, 
      product_name, product_sub_title, product_sku_code, 
      member_nickname, create_date, modify_date, 
      delete_status, product_category_id, product_brand, 
      product_sn, product_attr)
    values (#{productId,jdbcType=BIGINT}, #{productSkuId,jdbcType=BIGINT}, #{memberId,jdbcType=BIGINT}, 
      #{quantity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{productPic,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{productSubTitle,jdbcType=VARCHAR}, #{productSkuCode,jdbcType=VARCHAR}, 
      #{memberNickname,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{deleteStatus,jdbcType=INTEGER}, #{productCategoryId,jdbcType=BIGINT}, #{productBrand,jdbcType=VARCHAR}, 
      #{productSn,jdbcType=VARCHAR}, #{productAttr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.cart.model.OmsCartItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into oms_cart_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productSkuId != null">
        product_sku_id,
      </if>
      <if test="memberId != null">
        member_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="productPic != null">
        product_pic,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productSubTitle != null">
        product_sub_title,
      </if>
      <if test="productSkuCode != null">
        product_sku_code,
      </if>
      <if test="memberNickname != null">
        member_nickname,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="modifyDate != null">
        modify_date,
      </if>
      <if test="deleteStatus != null">
        delete_status,
      </if>
      <if test="productCategoryId != null">
        product_category_id,
      </if>
      <if test="productBrand != null">
        product_brand,
      </if>
      <if test="productSn != null">
        product_sn,
      </if>
      <if test="productAttr != null">
        product_attr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null">
        #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        #{memberId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="productPic != null">
        #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSubTitle != null">
        #{productSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="productSkuCode != null">
        #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="memberNickname != null">
        #{memberNickname,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="productBrand != null">
        #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productAttr != null">
        #{productAttr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.cart.model.OmsCartItem">
    update oms_cart_item
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSkuId != null">
        product_sku_id = #{productSkuId,jdbcType=BIGINT},
      </if>
      <if test="memberId != null">
        member_id = #{memberId,jdbcType=BIGINT},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="productPic != null">
        product_pic = #{productPic,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSubTitle != null">
        product_sub_title = #{productSubTitle,jdbcType=VARCHAR},
      </if>
      <if test="productSkuCode != null">
        product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      </if>
      <if test="memberNickname != null">
        member_nickname = #{memberNickname,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyDate != null">
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        delete_status = #{deleteStatus,jdbcType=INTEGER},
      </if>
      <if test="productCategoryId != null">
        product_category_id = #{productCategoryId,jdbcType=BIGINT},
      </if>
      <if test="productBrand != null">
        product_brand = #{productBrand,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="productAttr != null">
        product_attr = #{productAttr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.cart.model.OmsCartItem">
    update oms_cart_item
    set product_id = #{productId,jdbcType=BIGINT},
      product_sku_id = #{productSkuId,jdbcType=BIGINT},
      member_id = #{memberId,jdbcType=BIGINT},
      quantity = #{quantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      product_pic = #{productPic,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      product_sub_title = #{productSubTitle,jdbcType=VARCHAR},
      product_sku_code = #{productSkuCode,jdbcType=VARCHAR},
      member_nickname = #{memberNickname,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      delete_status = #{deleteStatus,jdbcType=INTEGER},
      product_category_id = #{productCategoryId,jdbcType=BIGINT},
      product_brand = #{productBrand,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR},
      product_attr = #{productAttr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.cart.model.OmsCartItem">
    SELECT <include refid="Base_Column_List"/> FROM oms_cart_item
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="productSkuId != null">AND product_sku_id = #{productSkuId}</if>
      <if test="memberId != null">AND member_id = #{memberId}</if>
      <if test="quantity != null">AND quantity = #{quantity}</if>
      <if test="price != null">AND price = #{price}</if>
      <if test="productPic != null">AND product_pic = #{productPic}</if>
      <if test="productName != null">AND product_name = #{productName}</if>
      <if test="productSubTitle != null">AND product_sub_title = #{productSubTitle}</if>
      <if test="productSkuCode != null">AND product_sku_code = #{productSkuCode}</if>
      <if test="memberNickname != null">AND member_nickname = #{memberNickname}</if>
      <if test="createDate != null">AND create_date = #{createDate}</if>
      <if test="modifyDate != null">AND modify_date = #{modifyDate}</if>
      <if test="deleteStatus != null">AND delete_status = #{deleteStatus}</if>
      <if test="productCategoryId != null">AND product_category_id = #{productCategoryId}</if>
      <if test="productBrand != null">AND product_brand = #{productBrand}</if>
      <if test="productSn != null">AND product_sn = #{productSn}</if>
      <if test="productAttr != null">AND product_attr = #{productAttr}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.cart.model.OmsCartItem">
    DELETE FROM oms_cart_item
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="productSkuId != null">AND product_sku_id = #{productSkuId}</if>
      <if test="memberId != null">AND member_id = #{memberId}</if>
      <if test="quantity != null">AND quantity = #{quantity}</if>
      <if test="price != null">AND price = #{price}</if>
      <if test="productPic != null">AND product_pic = #{productPic}</if>
      <if test="productName != null">AND product_name = #{productName}</if>
      <if test="productSubTitle != null">AND product_sub_title = #{productSubTitle}</if>
      <if test="productSkuCode != null">AND product_sku_code = #{productSkuCode}</if>
      <if test="memberNickname != null">AND member_nickname = #{memberNickname}</if>
      <if test="createDate != null">AND create_date = #{createDate}</if>
      <if test="modifyDate != null">AND modify_date = #{modifyDate}</if>
      <if test="deleteStatus != null">AND delete_status = #{deleteStatus}</if>
      <if test="productCategoryId != null">AND product_category_id = #{productCategoryId}</if>
      <if test="productBrand != null">AND product_brand = #{productBrand}</if>
      <if test="productSn != null">AND product_sn = #{productSn}</if>
      <if test="productAttr != null">AND product_attr = #{productAttr}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update oms_cart_item
    <set>
      <if test="record.productId != null">product_id = #{record.productId,jdbcType=BIGINT},</if>
      <if test="record.productSkuId != null">product_sku_id = #{record.productSkuId,jdbcType=BIGINT},</if>
      <if test="record.memberId != null">member_id = #{record.memberId,jdbcType=BIGINT},</if>
      <if test="record.quantity != null">quantity = #{record.quantity,jdbcType=INTEGER},</if>
      <if test="record.price != null">price = #{record.price,jdbcType=DECIMAL},</if>
      <if test="record.productPic != null">product_pic = #{record.productPic,jdbcType=VARCHAR},</if>
      <if test="record.productName != null">product_name = #{record.productName,jdbcType=VARCHAR},</if>
      <if test="record.productSubTitle != null">product_sub_title = #{record.productSubTitle,jdbcType=VARCHAR},</if>
      <if test="record.productSkuCode != null">product_sku_code = #{record.productSkuCode,jdbcType=VARCHAR},</if>
      <if test="record.memberNickname != null">member_nickname = #{record.memberNickname,jdbcType=VARCHAR},</if>
      <if test="record.createDate != null">create_date = #{record.createDate,jdbcType=TIMESTAMP},</if>
      <if test="record.modifyDate != null">modify_date = #{record.modifyDate,jdbcType=TIMESTAMP},</if>
      <if test="record.deleteStatus != null">delete_status = #{record.deleteStatus,jdbcType=INTEGER},</if>
      <if test="record.productCategoryId != null">product_category_id = #{record.productCategoryId,jdbcType=BIGINT},</if>
      <if test="record.productBrand != null">product_brand = #{record.productBrand,jdbcType=VARCHAR},</if>
      <if test="record.productSn != null">product_sn = #{record.productSn,jdbcType=VARCHAR},</if>
      <if test="record.productAttr != null">product_attr = #{record.productAttr,jdbcType=VARCHAR},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.productId != null">AND product_id = #{condition.productId}</if>
      <if test="condition.productSkuId != null">AND product_sku_id = #{condition.productSkuId}</if>
      <if test="condition.memberId != null">AND member_id = #{condition.memberId}</if>
      <if test="condition.quantity != null">AND quantity = #{condition.quantity}</if>
      <if test="condition.price != null">AND price = #{condition.price}</if>
      <if test="condition.productPic != null">AND product_pic = #{condition.productPic}</if>
      <if test="condition.productName != null">AND product_name = #{condition.productName}</if>
      <if test="condition.productSubTitle != null">AND product_sub_title = #{condition.productSubTitle}</if>
      <if test="condition.productSkuCode != null">AND product_sku_code = #{condition.productSkuCode}</if>
      <if test="condition.memberNickname != null">AND member_nickname = #{condition.memberNickname}</if>
      <if test="condition.createDate != null">AND create_date = #{condition.createDate}</if>
      <if test="condition.modifyDate != null">AND modify_date = #{condition.modifyDate}</if>
      <if test="condition.deleteStatus != null">AND delete_status = #{condition.deleteStatus}</if>
      <if test="condition.productCategoryId != null">AND product_category_id = #{condition.productCategoryId}</if>
      <if test="condition.productBrand != null">AND product_brand = #{condition.productBrand}</if>
      <if test="condition.productSn != null">AND product_sn = #{condition.productSn}</if>
      <if test="condition.productAttr != null">AND product_attr = #{condition.productAttr}</if>
    </where>
  </update>

</mapper>