<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.marketing.mapper.CmsMemberReportMapper">
  <resultMap id="BaseResultMap" type="com.mall.marketing.model.CmsMemberReport">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="report_type" jdbcType="INTEGER" property="reportType" />
    <result column="report_member_name" jdbcType="VARCHAR" property="reportMemberName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="report_object" jdbcType="VARCHAR" property="reportObject" />
    <result column="report_status" jdbcType="INTEGER" property="reportStatus" />
    <result column="handle_status" jdbcType="INTEGER" property="handleStatus" />
    <result column="note" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    id, report_type, report_member_name, create_time, report_object, report_status, handle_status, 
    note
  </sql>
  <insert id="insert" parameterType="com.mall.marketing.model.CmsMemberReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_member_report (report_type, report_member_name, create_time, 
      report_object, report_status, handle_status, 
      note)
    values (#{reportType,jdbcType=INTEGER}, #{reportMemberName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{reportObject,jdbcType=VARCHAR}, #{reportStatus,jdbcType=INTEGER}, #{handleStatus,jdbcType=INTEGER}, 
      #{note,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.marketing.model.CmsMemberReport">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_member_report
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="reportType != null">
        report_type,
      </if>
      <if test="reportMemberName != null">
        report_member_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="reportObject != null">
        report_object,
      </if>
      <if test="reportStatus != null">
        report_status,
      </if>
      <if test="handleStatus != null">
        handle_status,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="reportType != null">
        #{reportType,jdbcType=INTEGER},
      </if>
      <if test="reportMemberName != null">
        #{reportMemberName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportObject != null">
        #{reportObject,jdbcType=VARCHAR},
      </if>
      <if test="reportStatus != null">
        #{reportStatus,jdbcType=INTEGER},
      </if>
      <if test="handleStatus != null">
        #{handleStatus,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.marketing.model.CmsMemberReport">
    SELECT <include refid="Base_Column_List"/> FROM cms_member_report
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="reportType != null">AND report_type = #{reportType}</if>
      <if test="reportMemberName != null">AND report_member_name = #{reportMemberName}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="reportObject != null">AND report_object = #{reportObject}</if>
      <if test="reportStatus != null">AND report_status = #{reportStatus}</if>
      <if test="handleStatus != null">AND handle_status = #{handleStatus}</if>
      <if test="note != null">AND note = #{note}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.marketing.model.CmsMemberReport">
    DELETE FROM cms_member_report
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="reportType != null">AND report_type = #{reportType}</if>
      <if test="reportMemberName != null">AND report_member_name = #{reportMemberName}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="reportObject != null">AND report_object = #{reportObject}</if>
      <if test="reportStatus != null">AND report_status = #{reportStatus}</if>
      <if test="handleStatus != null">AND handle_status = #{handleStatus}</if>
      <if test="note != null">AND note = #{note}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update cms_member_report
    <set>
      <if test="record.reportType != null">report_type = #{record.reportType},</if>
      <if test="record.reportMemberName != null">report_member_name = #{record.reportMemberName},</if>
      <if test="record.createTime != null">create_time = #{record.createTime},</if>
      <if test="record.reportObject != null">report_object = #{record.reportObject},</if>
      <if test="record.reportStatus != null">report_status = #{record.reportStatus},</if>
      <if test="record.handleStatus != null">handle_status = #{record.handleStatus},</if>
      <if test="record.note != null">note = #{record.note},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.reportType != null">AND report_type = #{condition.reportType}</if>
      <if test="condition.reportMemberName != null">AND report_member_name = #{condition.reportMemberName}</if>
      <if test="condition.createTime != null">AND create_time = #{condition.createTime}</if>
      <if test="condition.reportObject != null">AND report_object = #{condition.reportObject}</if>
      <if test="condition.reportStatus != null">AND report_status = #{condition.reportStatus}</if>
      <if test="condition.handleStatus != null">AND handle_status = #{condition.handleStatus}</if>
      <if test="condition.note != null">AND note = #{condition.note}</if>
    </where>
  </update>

</mapper>