<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.marketing.mapper.CmsTopicMapper">
  <resultMap id="BaseResultMap" type="com.mall.marketing.model.CmsTopic">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="category_id" jdbcType="BIGINT" property="categoryId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="attend_count" jdbcType="INTEGER" property="attendCount" />
    <result column="attention_count" jdbcType="INTEGER" property="attentionCount" />
    <result column="read_count" jdbcType="INTEGER" property="readCount" />
    <result column="award_name" jdbcType="VARCHAR" property="awardName" />
    <result column="attend_type" jdbcType="VARCHAR" property="attendType" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.mall.marketing.model.CmsTopic">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, category_id, name, create_time, start_time, end_time, attend_count, attention_count, 
    read_count, award_name, attend_type
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cms_topic
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cms_topic
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.marketing.model.CmsTopic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_topic (category_id, name, create_time, 
      start_time, end_time, attend_count, 
      attention_count, read_count, award_name, 
      attend_type, content)
    values (#{categoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{attendCount,jdbcType=INTEGER}, 
      #{attentionCount,jdbcType=INTEGER}, #{readCount,jdbcType=INTEGER}, #{awardName,jdbcType=VARCHAR}, 
      #{attendType,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.marketing.model.CmsTopic">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into cms_topic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="attendCount != null">
        attend_count,
      </if>
      <if test="attentionCount != null">
        attention_count,
      </if>
      <if test="readCount != null">
        read_count,
      </if>
      <if test="awardName != null">
        award_name,
      </if>
      <if test="attendType != null">
        attend_type,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="categoryId != null">
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendCount != null">
        #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="attentionCount != null">
        #{attentionCount,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        #{readCount,jdbcType=INTEGER},
      </if>
      <if test="awardName != null">
        #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="attendType != null">
        #{attendType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.marketing.model.CmsTopic">
    update cms_topic
    <set>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attendCount != null">
        attend_count = #{attendCount,jdbcType=INTEGER},
      </if>
      <if test="attentionCount != null">
        attention_count = #{attentionCount,jdbcType=INTEGER},
      </if>
      <if test="readCount != null">
        read_count = #{readCount,jdbcType=INTEGER},
      </if>
      <if test="awardName != null">
        award_name = #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="attendType != null">
        attend_type = #{attendType,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mall.marketing.model.CmsTopic">
    update cms_topic
    set category_id = #{categoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      attend_count = #{attendCount,jdbcType=INTEGER},
      attention_count = #{attentionCount,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      award_name = #{awardName,jdbcType=VARCHAR},
      attend_type = #{attendType,jdbcType=VARCHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.marketing.model.CmsTopic">
    update cms_topic
    set category_id = #{categoryId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      attend_count = #{attendCount,jdbcType=INTEGER},
      attention_count = #{attentionCount,jdbcType=INTEGER},
      read_count = #{readCount,jdbcType=INTEGER},
      award_name = #{awardName,jdbcType=VARCHAR},
      attend_type = #{attendType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.marketing.model.CmsTopic">
    SELECT <include refid="Base_Column_List"/> FROM cms_topic
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="categoryId != null">AND category_id = #{categoryId}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="startTime != null">AND start_time = #{startTime}</if>
      <if test="endTime != null">AND end_time = #{endTime}</if>
      <if test="attendCount != null">AND attend_count = #{attendCount}</if>
      <if test="attentionCount != null">AND attention_count = #{attentionCount}</if>
      <if test="readCount != null">AND read_count = #{readCount}</if>
      <if test="awardName != null">AND award_name = #{awardName}</if>
      <if test="attendType != null">AND attend_type = #{attendType}</if>
      <if test="content != null">AND content = #{content}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.marketing.model.CmsTopic">
    DELETE FROM cms_topic
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="categoryId != null">AND category_id = #{categoryId}</if>
      <if test="name != null">AND name = #{name}</if>
      <if test="createTime != null">AND create_time = #{createTime}</if>
      <if test="startTime != null">AND start_time = #{startTime}</if>
      <if test="endTime != null">AND end_time = #{endTime}</if>
      <if test="attendCount != null">AND attend_count = #{attendCount}</if>
      <if test="attentionCount != null">AND attention_count = #{attentionCount}</if>
      <if test="readCount != null">AND read_count = #{readCount}</if>
      <if test="awardName != null">AND award_name = #{awardName}</if>
      <if test="attendType != null">AND attend_type = #{attendType}</if>
      <if test="content != null">AND content = #{content}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update cms_topic
    <set>
      <if test="record.categoryId != null">category_id = #{record.categoryId},</if>
      <if test="record.name != null">name = #{record.name},</if>
      <if test="record.createTime != null">create_time = #{record.createTime},</if>
      <if test="record.startTime != null">start_time = #{record.startTime},</if>
      <if test="record.endTime != null">end_time = #{record.endTime},</if>
      <if test="record.attendCount != null">attend_count = #{record.attendCount},</if>
      <if test="record.attentionCount != null">attention_count = #{record.attentionCount},</if>
      <if test="record.readCount != null">read_count = #{record.readCount},</if>
      <if test="record.awardName != null">award_name = #{record.awardName},</if>
      <if test="record.attendType != null">attend_type = #{record.attendType},</if>
      <if test="record.content != null">content = #{record.content},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.categoryId != null">AND category_id = #{condition.categoryId}</if>
      <if test="condition.name != null">AND name = #{condition.name}</if>
      <if test="condition.createTime != null">AND create_time = #{condition.createTime}</if>
      <if test="condition.startTime != null">AND start_time = #{condition.startTime}</if>
      <if test="condition.endTime != null">AND end_time = #{condition.endTime}</if>
      <if test="condition.attendCount != null">AND attend_count = #{condition.attendCount}</if>
      <if test="condition.attentionCount != null">AND attention_count = #{condition.attentionCount}</if>
      <if test="condition.readCount != null">AND read_count = #{condition.readCount}</if>
      <if test="condition.awardName != null">AND award_name = #{condition.awardName}</if>
      <if test="condition.attendType != null">AND attend_type = #{condition.attendType}</if>
      <if test="condition.content != null">AND content = #{condition.content}</if>
    </where>
  </update>

</mapper>