<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.marketing.mapper.SmsCouponProductRelationMapper">
  <resultMap id="BaseResultMap" type="com.mall.marketing.model.SmsCouponProductRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, coupon_id, product_id, product_name, product_sn
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sms_coupon_product_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sms_coupon_product_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.marketing.model.SmsCouponProductRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_coupon_product_relation (coupon_id, product_id, product_name, product_sn)
    values (#{couponId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{productName,jdbcType=VARCHAR}, #{productSn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.marketing.model.SmsCouponProductRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sms_coupon_product_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        coupon_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="productSn != null">
        product_sn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="couponId != null">
        #{couponId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        #{productSn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.marketing.model.SmsCouponProductRelation">
    update sms_coupon_product_relation
    <set>
      <if test="couponId != null">
        coupon_id = #{couponId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.marketing.model.SmsCouponProductRelation">
    update sms_coupon_product_relation
    set coupon_id = #{couponId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_sn = #{productSn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

<insert id="insertList">
        INSERT INTO sms_coupon_product_relation (product_id,product_name,product_sn,coupon_id) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.productId,jdbcType=BIGINT},
            #{item.productName,jdbcType=VARCHAR},
            #{item.productSn,jdbcType=VARCHAR},
            #{item.couponId,jdbcType=INTEGER})
        </foreach>
    </insert>

  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.marketing.model.SmsCouponProductRelation">
    SELECT <include refid="Base_Column_List"/> FROM sms_coupon_product_relation
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="couponId != null">AND coupon_id = #{couponId}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="productName != null">AND product_name = #{productName}</if>
      <if test="productSn != null">AND product_sn = #{productSn}</if>
    </where>
  </select>

  <delete id="deleteByCondition" parameterType="com.mall.marketing.model.SmsCouponProductRelation">
    DELETE FROM sms_coupon_product_relation
    <where>
      <if test="id != null">AND id = #{id}</if>
      <if test="couponId != null">AND coupon_id = #{couponId}</if>
      <if test="productId != null">AND product_id = #{productId}</if>
      <if test="productName != null">AND product_name = #{productName}</if>
      <if test="productSn != null">AND product_sn = #{productSn}</if>
    </where>
  </delete>

  <update id="updateSelectiveByCondition">
    update sms_coupon_product_relation
    <set>
      <if test="record.couponId != null">coupon_id = #{record.couponId},</if>
      <if test="record.productId != null">product_id = #{record.productId},</if>
      <if test="record.productName != null">product_name = #{record.productName},</if>
      <if test="record.productSn != null">product_sn = #{record.productSn},</if>
    </set>
    <where>
      <if test="condition.id != null">AND id = #{condition.id}</if>
      <if test="condition.couponId != null">AND coupon_id = #{condition.couponId}</if>
      <if test="condition.productId != null">AND product_id = #{condition.productId}</if>
      <if test="condition.productName != null">AND product_name = #{condition.productName}</if>
      <if test="condition.productSn != null">AND product_sn = #{condition.productSn}</if>
    </where>
  </update>

</mapper>
