<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.user.mapper.UmsAdminRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.mall.user.model.UmsAdminRoleRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
  <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_id, role_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_admin_role_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_admin_role_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mall.user.model.UmsAdminRoleRelation">
  <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_admin_role_relation (admin_id, role_id)
    values (#{adminId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.user.model.UmsAdminRoleRelation">
  <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_admin_role_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
  <if test="adminId != null">
        admin_id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
  <if test="adminId != null">
        #{adminId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.user.model.UmsAdminRoleRelation">
    update ums_admin_role_relation
    <set>
  <if test="adminId != null">
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.user.model.UmsAdminRoleRelation">
    update ums_admin_role_relation
    set admin_id = #{adminId,jdbcType=BIGINT},
      role_id = #{roleId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="com.mall.user.model.UmsAdminRoleRelation">
    SELECT <include refid="Base_Column_List"/> FROM ums_admin_role_relation
    <where>
  <if test="id != null">AND id = #{id}</if>
      <if test="adminId != null">AND admin_id = #{adminId}</if>
      <if test="roleId != null">AND role_id = #{roleId}</if>
    </where>
  </select>
  <delete id="deleteByCondition" parameterType="com.mall.user.model.UmsAdminRoleRelation">
    DELETE FROM ums_admin_role_relation
    <where>
  <if test="id != null">AND id = #{id}</if>
      <if test="adminId != null">AND admin_id = #{adminId}</if>
      <if test="roleId != null">AND role_id = #{roleId}</if>
    </where>
  </delete>
  <insert id="insertList">
    INSERT INTO ums_admin_role_relation (admin_id, role_id) VALUES
    <foreach collection="list" separator="," item="item" index="index">
      (#{item.adminId,jdbcType=BIGINT},
      #{item.roleId,jdbcType=BIGINT})
    </foreach>
  </insert>
  <select id="getRoleList" resultMap="com.mall.user.mapper.UmsRoleMapper.BaseResultMap">
    select r.*
    from ums_admin_role_relation ar left join ums_role r on ar.role_id = r.id
    where ar.admin_id = #{adminId}
  </select>
  <select id="getResourceList" resultType="com.mall.user.model.UmsResource">
    SELECT
        ur.id id,
        ur.create_time createTime,
        ur.`name` `name`,
        ur.url url,
        ur.description description,
        ur.category_id categoryId
    FROM
        ums_admin_role_relation ar
    LEFT JOIN ums_role r ON ar.role_id = r.id
    LEFT JOIN ums_role_resource_relation rrr ON r.id = rrr.role_id
    LEFT JOIN ums_resource ur ON ur.id = rrr.resource_id
    WHERE
        ar.admin_id = #{adminId}
    AND ur.id IS NOT NULL
    GROUP BY
        ur.id
  </select>
  <select id="getAdminIdList" resultType="java.lang.Long">
    SELECT
        DISTINCT ar.admin_id
    FROM
        ums_role_resource_relation rr
            LEFT JOIN ums_admin_role_relation ar ON rr.role_id = ar.role_id
    WHERE rr.resource_id=#{resourceId}
  </select>
</mapper>
